
h1 {
    text-align: center;
    font-family: sans-serif, 'Times New Roman', Times, serif;
    text-shadow: 10px;
}

body {
    background-color: aqua;
}

.inner {
    background-color: beige;
    box-sizing: border-box;
    max-width: 900px;
    box-shadow: 10px 10px 5px black;
    margin: 60px auto;
    height: 2100px;
    padding: 20px;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    text-decoration-line: underline;
    text-decoration-color: black;
    padding: 10px;
}

.CI {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 30px;
}

.CI img {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: right;
    padding-right: 0px;
    height: 250px;
    width: 250px;
    padding-right: 20px;
    padding-bottom: 100px;
    transition: width 2s, height 4s;
}
.CI img:hover{
    height: 290px;
    width: 320px;
}

.AR {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.Edu {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.CS {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.CS img {
    border-radius: 50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.Skills {
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
