* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-image: url(background.jpg);
    background-size: cover;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
}

.nav-links ul {
    list-style-type: none;
    display: flex;
}

.nav-links ul li {
    margin-right: 20px;
}

.nav-links ul li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ff0000;
}

.dropdown {
    position: relative;
}

.dropbtn {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 16px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #222;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.sign-in {
    margin-left: auto;
}

.sign-in button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.hero {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.news {
    padding: 50px 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.news h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.news-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-item {
    width: calc(20% - 20px);
    background-color: #000;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
    background-size: cover;
}

.news-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.news-item p {
    font-size: 1rem;
    margin-bottom: 10px;
}

.news-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.news-item a:hover {
    color: #ff0000;
}

.news-item::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(news.png);
    opacity: 0.7;
    z-index: -1;
    border-radius: 5px;
}
